<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="/css/styles.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Cart</title>
</head>
<body>

    <!-- NAVBAR -->
    <%- include('navbar'); %>
    <!-- NAVBAR -->

    <div class="ml-4">
        

        <% if (carts.length <= 0) { %>
            <div class="flex items-center justify-center h-screen">
                <h2 class="text-3xl mt-4">Your cart is EMPTY</h2>
            </div>
        <% } else { %>
            <h2 class="text-3xl mt-4">Your cart</h2>
            <% carts.forEach( cart => { %>
                <div class="border-2 border-black rounded-md mx-6 my-6 flex justify-between p-4">
                    <form class="flex justify-between w-full" action="/removeFromCart" method="post">
                        <div>
                            <label class="font-bold m-4" name="id" ><%= cart.name %></label>
                            <input type="hidden" name="id" value=<%= cart.id %>></input>
                            <h3 class="text-green-600 mx-4"><%= cart.price %></h3>
                        </div>
                        <button class="mr-4 px-2 rounded-lg bg-red-600 text-white" type="submit">Remove</button>
                    </form>
                </div>
            <% }) %>

            <form class="flex flex-row-reverse mr-4" action="/checkout" method="post">
                <button class="mr-4 p-4 rounded-lg text-lg bg-green-600 text-white" type="submit" name="confirm">Place order</button>
            </form>
            
        <% } %>
        
    </div>
    
</body>
</html>