<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="/css/styles.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Cart</title>
</head>
<body>

    <!-- NAVBAR -->
    <%- include('navbar'); %>
    <!-- NAVBAR -->

    <div class="ml-4">

        <h1>Your Items is on your way =) Thank you for purchasing</h1>
        
    </div>
    
</body>
</html>