<nav class="bg-gray-600 p-2 m-2 rounded-lg text-white shadow-lg">
    <div class="flex justify-around w-96">
        <a href="/homepage">Home</a>
        <a href="#">Cart</a>
        <a href="#">Order History</a>
        <form class="inline-flex" action="/logout" method="post">
            <button type="submit" >Log Out</button>
        </form>
    </div>  
  </nav>
