@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  button {
    @apply bg-blue-300;
    @apply w-28;
    @apply py-2;
    @apply rounded-md;
    @apply transition-all;
    @apply duration-200;
    @apply transform;
    @apply dark-shadow;
  }

  button:hover {
    @apply bg-blue-600;
    @apply text-white;
  }

  button:active {
    @apply scale-95;
    @apply shadow-none;
  }

  button:focus {
    @apply outline-none;
  }

  button:disabled, button:disabled:hover {
    @apply bg-gray-400;
    @apply text-black;
  }

  .button-red {
    @apply bg-red-300;
  }

  .button-red:hover {
    @apply bg-red-500;
  }

  /* button:active */

  input[type=text], input[type=password], input[type=number], input[type=email], select {
    @apply outline-none;
    @apply border-gray-400;
    @apply border;
    @apply p-3;
    @apply my-2;
    @apply rounded-md;
    @apply bg-white;
    @apply w-full;
  }
}

@layer utilities {
  .dark-shadow {
    box-shadow: 0 5px 5px rgb(100,100,100);
  }
  .header-shadow {
    box-shadow: 0 3px 3px rgb(150,150,150);
  }
}